<h1><%= @questionary.title %>の集計</h1>

<p></p>

<table>
  <tr><th>質問ID</th><th>集計</th></tr>
  <% @calc.each do |key, value| %>
    <tr><td><%= key %></td><td>
        <table><tr>
            <% for v in value %>
              <td><%= v.to_i %></td>
            <% end %>
          </tr>
        </table>
      </td></tr>
    <% end %>
</table>
